body{
    
    background-image: url('imgenes/cloud-5946381_1280.jpg');
    background-size: contain;
   }
   .head{
       background-color: rgb(22, 49, 49);
       height: 100px;
       width: 100%;
       margin-left: auto;
       margin-right: auto; 
       position: relative;
   }

   .contenedort1{
    background-color: yellow;
width: 40%;
height: 60%;   
margin-top: 30px;
float:left;

   }

   .logo{
    background-image:url(imgenes/goat\ logo.jpg);
    background-size: contain;
    background-repeat: no-repeat;
background-color: blue;
background-size: auto;
width: 50%;
height: 60%;
margin-right:40%;
margin-top: 20px;

   }
   .titulop{
   background-color: rosybrown;
   position: absolute;
   margin-top: 0px;
   color: #fff;
   font-size: 50px;
   font-family: Arial, Helvetica, sans-serif;
   width: 40%;
   height:45px;
   float :left ;
}


.cont{
width: 60% ;
background-color: aqua;
margin-left: auto;
margin-top: 20px;
padding:10px ;
padding-bottom:20px;
padding-right: 30px;
text-align: justify;
border-radius:0% ;
}
.cont2{
width: 60% ;
background-color:rgb(185, 133, 233);
margin-left: auto;
margin-top: 20px;
padding:20px ;
padding-bottom:20px;
padding-right: 20px;
text-align: justify;
border-radius:0% ;

}
nav{
    background: color 0;;
    float: right;
    margin-top: 40px;
    margin-right: 40px;
    
}
ul{
    background :color 0;;
    
}
li{
    background:color 0;;
    margin-top: 5px;
    display: inline;
}
a{

color:#fff;
font-family: Georgia, 'Times New Roman', Times, serif;
 text-decoration: none;
 margin-right: 30px;
}